.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    align-content: space-around;
    height: 20px;
    width: 34%;
    margin-left: 33%;
    margin-top: 10px;
  }
  .strength-section {
    flex-grow: 1;
    height: 10px;
    width: 30px;
    margin: 5px;
    border-radius: 5px;
  }
  .message{
    text-align: center;
    font-family: sans-serif;
    font-size: small;
  }